body {
    font-family: Segoe UI, Arial, "Trebuchet MS", sans-serif;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

input,
select,
.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget-header,
.ui-widget-content,
.ui-widget-header .ui-widget-header,
.ui-widget-content .ui-widget-content {
    font-family: Segoe UI, Arial, "Trebuchet MS", sans-serif;
    font-size: 12px !important;
}

.pe-master-detail .ui-breadcrumb .ui-breadcrumb-chevron {
    margin-top: 4px;
}

.firstbtn {
    margin-top: 13px;
}

.btn {
    margin-top: 13px;
    margin-left: 3px;
}

.logo {
    margin: 15px 0 15px 30px;
}

.slogan {
    position: absolute;
    color: #A2A1A1;
    font-weight: bold;
    top: 25px;
    right: 40px;
}

.menuColumn {
    vertical-align: top;
    padding-left: 30px;
}

.contentColumn {
    vertical-align: top;
    padding: 0 30px 0 30px;
}

#servicesList {
    width: 200px;
}

#servicesList .ui-menuitem-link {
    margin-top: 4px;
    margin-bottom: 4px;
    line-height: 16px;
}

#servicesList .ui-menuitem-text {
    padding-left: 4px;
}

#masterDetail {
    width: 880px;
}

table .formColumn1 {
    padding: 2px 10px 2px 0;
    text-align: right;
    white-space: nowrap;
    width: 1%;
}

table .formColumn2 {
    padding: 2px 0 2px 0;
}

table .formColumn2 input {
    width: 200px;
}

table .formColumn2 .ui-datepicker-trigger {
    margin-left: 2px;
    vertical-align: top;
}
